src/modules/hero/heroBanner/index.pug
- var figaro = require("~modules/hero/heroBanner/figaro.svg");
- var car = require("~modules/hero/heroBanner/car.png");
- var arrow = require("~modules/hero/heroBanner/arrow.svg");

.hero-banner__background
  .hero-banner__position
    .hero-banner__layout.hero-banner__center
      .hero-banner__picture.hero-banner__picture--back
        img.hero-banner__picture--front(src=figaro, alt='', srcset='')

    .hero-banner__layout
      .hero-banner__picture.hero-banner__car

    .hero-banner__layout.hero-banner__bottom
      .hero-banner__item 
        button.hero-banner__btn
          span.hero-banner__btn-text Тест-драйв
          span.hero-banner__btn-arrow 
            img(src=arrow, alt='', srcset='')

public/index.html
<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="stylesheet" href="https://www-europe.nissan-cdn.net/content/dam/Nissan/header-footer/ru-RU/css/PACE-header-footer-v3.min.css?v=116 .css"><title>frontend-developer-nissan</title><script defer="defer" src="vendors.bundle.js"></script><script defer="defer" src="main.bundle.js"></script><link href="vendors.bundle.css" rel="stylesheet"><link href="main.bundle.css" rel="stylesheet"></head><body><div class="helios" id="nissan_global_header"></div><header class="hero"><div class="hero__banner"><div class="hero-banner__background"><div class="hero-banner__position"><div class="hero-banner__layout hero-banner__center"><div class="hero-banner__picture hero-banner__picture--back"><img class="hero-banner__picture--front" src="assets/7169a2e49e07a14e64e0.svg" alt="" srcset=""></div></div><div class="hero-banner__layout"><div class="hero-banner__picture hero-banner__car"></div></div><div class="hero-banner__layout hero-banner__bottom"><div class="hero-banner__item"><button class="hero-banner__btn"><span class="hero-banner__btn-text">Тест-драйв</span><span class="hero-banner__btn-arrow"> <img src="assets/f4509df11a5fb2afff49.svg" alt="" srcset=""></span></button></div></div></div></div></div><div class="hero__border"><section class="hero-border"><div class="hero-border__box"><div class="hero-border__item"><img class="hero-border__img" src="assets/295c14092f528d0f7930.svg" alt="Picture" srcset=""></div></div></section></div></header><main><section class="slider"><div class="slider__hr"></div><div class="slider__space"><h1 class="slider__title"><span>Мы ценим Ваше время и комфорт!</span><span>Запишитесь на сервис Nissan онлайн</span></h1></div><div class="slider__view" data-js-state="mobile"><div class="glide glide__fix-width" data-js="sliderRun"><div class="glide__track" data-glide-el="track"><div class="glide__slides glide__fix-hover"><div class="glide__item"><div class="slider__item" data-js-state="active"><img class="slider__img" src="assets/40de1caa317ad3b37df2.svg" alt="Picture"><div class="slider__description"><div class="slider__description-title">выгода</div><div class="slider__description-text">Узнайте о выгодных сервисных предложениях Nissan именно для вашего автомобиля</div></div></div></div><div class="glide__item"><div class="slider__item" data-js-state="active"><img class="slider__img" src="assets/da412797d38ef1f4de42.svg" alt="Picture"><div class="slider__description"><div class="slider__description-title">актуальность</div><div class="slider__description-text">Выберите актуальные для вас сервисные предложения</div></div></div></div><div class="glide__item"><div class="slider__item" data-js-state="active"><img class="slider__img" src="assets/fffe5bed1546c24ea3ad.svg" alt="Picture"><div class="slider__description"><div class="slider__description-title">широкий выбор</div><div class="slider__description-text">Выберите дилера, который вам подходит</div></div></div></div><div class="glide__item"><div class="slider__item" data-js-state="active"><img class="slider__img" src="assets/8b63b7839e66dc6c2e9b.svg" alt="Picture"><div class="slider__description"><div class="slider__description-title">онлайн обслуживание</div><div class="slider__description-text">Отправьте дилеру данные о вашем автомобиле в форме удобной анкеты</div></div></div></div></div></div></div></div><div class="slider__view" data-js-state="desktop"><div class="glide__slides glide__fix-column"><div class="slider__item" data-js-state=""><img class="slider__img" src="assets/40de1caa317ad3b37df2.svg" alt="Picture"><div class="slider__description"><div class="slider__description-title">выгода</div><div class="slider__description-text">Узнайте о выгодных сервисных предложениях Nissan именно для вашего автомобиля</div></div></div><div class="slider__item" data-js-state=""><img class="slider__img" src="assets/da412797d38ef1f4de42.svg" alt="Picture"><div class="slider__description"><div class="slider__description-title">актуальность</div><div class="slider__description-text">Выберите актуальные для вас сервисные предложения</div></div></div><div class="slider__item" data-js-state=""><img class="slider__img" src="assets/fffe5bed1546c24ea3ad.svg" alt="Picture"><div class="slider__description"><div class="slider__description-title">широкий выбор</div><div class="slider__description-text">Выберите дилера, который вам подходит</div></div></div><div class="slider__item" data-js-state=""><img class="slider__img" src="assets/8b63b7839e66dc6c2e9b.svg" alt="Picture"><div class="slider__description"><div class="slider__description-title">онлайн обслуживание</div><div class="slider__description-text">Отправьте дилеру данные о вашем автомобиле в форме удобной анкеты</div></div></div></div></div></section><section class="card"><h2 class="card__title">Уникальные особенности модели</h2><div class="card__box"><div class="card__item"><img class="card__img" src="assets/3c9d5fe3f19965cd109a.png" alt="Picture"><p class="card__text">Идеально скомпонованная торпеда, удобна в использовании как для правшей так и для левшей</p></div><div class="card__item"><img class="card__img" src="assets/49041ebb01b728b01a49.png" alt="Picture"><p class="card__text">Белоснежные кресла и аксессуары салона выгодно подчеркнут ваш свежий средиземноморский загар</p></div><div class="card__item"><img class="card__img" src="assets/1fafdbe9845e7593c442.png" alt="Picture"><p class="card__text">Хардтоп отличительно элегантной конструкции, автоматически складывается электроприводом</p></div></div></section></main></body><footer><div class="footer"><div class="helios" id="nissan_global_footer"></div></div><script src="https://releases.jquery.com/git/jquery-git.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script><script src="https://www-europe.nissan-cdn.net/content/dam/Nissan/header-footer/ru-RU/js/PACE-header-footer-v3.min.js"></script></footer></html>
